name: Go CI

on:
  # 1. 每次push都执行一次单元测试
  push:
    branches:
      - 'feature/*'
      - 'fix/*'
  
  # pull_request 事件会在有人尝试将代码合并到 main 分支时触发
  pull_request:
    branches:
      - main
      
jobs:
  unit-test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          
      - name: Run Unit Tests
        run: make ut